@model List<AutoskolaWeb.Model.Question>

<table id="tbl-quizzes" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Question</th>
            <th>Correct answer</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr quizid="@question.ID">
                <td>@question.ID</td>
                <td>@question.QuestionText</td>
                <td>@question.CorrectAnswer</td>
                <td>@Html.ActionLink("Details", "Details", new { id = question.ID })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = question.ID })</td>
                <td>@Html.ActionLink("Add answer", "AddAnswer", new { id = question.ID })</td>
                <td>@Html.ActionLink("Add image for question", "AddImage", new { id = question.ID })</td>
                <td><a href="javascript:void(0)" onclick="deleteRow(this);">Delete</a></td>
            </tr>
        }

    </tbody>
</table>
