@model List<AutoskolaWeb.Model.Answer>

<table id="tbl-quizzes" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Answer</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model)
        {
            <tr quizid="@answer.ID">
                <td>@answer.ID</td>
                <td>@answer.AnswerText</td>
                <td>@Html.ActionLink("Details", "Details", new { id = answer.ID })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = answer.ID })</td>
                <td><a href="javascript:void(0)" onclick="deleteRow(this);">Delete</a></td>
            </tr>
        }

    </tbody>
</table>

