@model AutoskolaWeb.Model.Quiz

@{
    ViewBag.Title = "Detalji kviza";
}

<h2>Pregled detalja kviza</h2>

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrani kviz!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Naziv</th>
                <td>@Model.QuizName</td>
            </tr>
            <tr>
                <th>Bodovi</th>
                <td>@Model.Score</td>
            </tr>
            <tr>
                <th>Trajanje kviza</th>
                <td>@Model.Duration</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ActionLink("Uredi", "Edit", new { id = Model.ID })</td>
            </tr>
        </tbody>
    </table>
}




